.s-content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: rgba(235, 237, 240, 1);
  box-shadow: 0 1px 3px 0 rgb(28 29 31 / 16%);
  overflow-y: auto;
  border-radius: 6px;
  padding: 20px;
  .s-body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100%;
    overflow-y: auto;
    .s-search {
      padding: 20px;
      background-color: #fff;
      margin-bottom: 20px;
      border-radius: 6px;
    }
    .s-main {
      box-sizing: border-box;
      flex: 1;
      padding: 20px 20px 40px 20px;
      background-color: #fff;
      border-radius: 6px;
    }
  }
  ::-webkit-scrollbar {
    display: none;
  }
}